<div class="container py-2">
    <div class="row">
        <div class="col">
            <img src="https://d3hi6wehcrq5by.cloudfront.net/companies/9fa9f1376020e189322010ffb60ef782.png?v=1699519692" style="width:50px;height:50px;">
        </div>
        <div class="col text-end">
            <img src="https://img4.thuthuatphanmem.vn/uploads/2020/12/25/anh-avt-chat_115939972.jpg" style="width:50px;height:50px;">
        </div>
    </div>
</div>
<div class="py-5 bg-success text-white">
    <h3 class="text-center">A joke a day keeps the doctor away</h3>
    <p class="text-center">if you joke wrong way, your teeth have to pay. (Serious)</p>
</div>